extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Name
        h1 Erion Pali

        //-title
        p.lead.text-light
          | Software Developer.

        //- Elevator pitch
        .portfolio-bio
          p
            | Hi, I’m Erion, thanks for visiting my portfolio. I’m a Software Developer based in NYC, working mainly on the front-end but can do back-end as well.
            | After studying Computer Science in college I decided to pursue web development on my own.
            | I have build various projects using skills I've acquired during the learning process. 
            | I am now looking to enter the industry and contribute to a team or company.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        //- Skills list
        ul
          li HTML
          li CSS
          li JavaScript
          li Express.js
          li Pug 
          li Git
          li jQuery
        h6 Contact Info

        //- Contact Info 
        ul
          li 555-555-1234
          li palierion@email.com

        //- Social media
        a.button.expanded(href='https://www.linkedin.com/in/erion-pali-19560088/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/eerian' target="_blank") GitHub
        a.button.expanded(href='#') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  