extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div
      h1 My Portfolio

      p.lead.text-light
        | A personal portfolio showcasing projects with live links and github repositories.
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      //- Iterate thru each project and display image title and link
      each project in projects
        .cell
          a(href= `/project/${project.id}`)
            img.image(src=`${project.images[0]}`)
            h5 #{project.project_name}
      
      
  

  
      
